@import "reset";
@import "variables";
@import "fonts";
@import "menu/menu.less";
@import "screens/screens.less";



* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-size: 14px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 1.2rem;
    font-family: 'FiraSans-Regular';
    color: white;
    width: 900px;
    height: 180px;
    cursor:  url(screens/crosshair046.png), auto;
}

// экраны
section {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

em {
    font-size: 1.2rem;
    font-family: 'FiraSans-Italic';
    color: white;
}

b {
    font-size: 1.2rem;
    font-family: 'FiraSans-Bold';
    color: white;
}

h3 {
    font-size: 1.4rem;
    font-family: 'FiraSans-Regular';
    color: #9c2c11;
    width: 900px;
    height: 3rem;
    margin-left: 3rem;
    text-shadow: #9c2c11 1px 0 10px;
    font-weight: normal;
}

.hidden {
    display: none;
}

::selection {
    color: grey;
    background: none;
}