@import "reset";
@import "variables";
@import "fonts";
@import "menu/menu.less";
@import "frame/frame.less";
@import "typography/typography.less";
@import "buttons/buttons.less";

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-size: 14px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

// экраны
section {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

